.form-wrapper {
  margin: 0 auto;
  display: inline-block;
}

.form {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
